body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 60px 20px;
  background: #111;
  color: #fff;
}

section {
  padding: 40px 20px;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: black;
  color: white;
  text-decoration: none;
}
